<a href="https://colab.research.google.com/github/KomilovQobiljon/databasemanagementUNI/blob/main/Week9DB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/my_db.db/")
print(my_conn.name)

sqlite

In [ ]:
r_set=my_conn.execute('''select name from sqlite_master where type = 'table' ''')
for row in r_set:
  print(row)

('category',)
('subcategory',)
('student',)

In [ ]:
r_set=my_conn.execute('''SELECT * FROM student''');
for row in r_set:
  print(row)

(1, 'John Deo', 'Four', 75, 'female')
(2, 'Max Ruin', 'Three', 85, 'male')
(3, 'Arnold', 'Three', 55, 'male')
(4, 'Krish Star', 'Four', 60, 'female')
(5, 'John Mike', 'Four', 60, 'female')
(6, 'Alex John', 'Four', 55, 'male')
(7, 'My John Rob', 'Five', 78, 'male')
(8, 'Asruid', 'Five', 85, 'male')
(9, 'Tes Qry', 'Six', 78, 'male')
(10, 'Big John', 'Four', 55, 'female')
(11, 'Ronald', 'Six', 89, 'female')
(27, 'Big Nose', 'Three', 81, 'female')
(28, 'Rojj Base', 'Seven', 86, 'female')
(29, 'Tess Played', 'Seven', 55, 'male')
(30, 'Reppy Red', 'Six', 79, 'female')
(31, 'Marry Toeey', 'Four', 88, 'male')
(32, 'Binn Rott', 'Seven', 90, 'female')
(33, 'Kenn Rein', 'Six', 96, 'female')
(34, 'Gain Toe', 'Seven', 69, 'male')
(35, 'Rows Noump', 'Six', 88, 'female')

In [ ]:
r_set=my_conn.execute('''SELECT * FROM category''');
for row in r_set:
  print(row)

(1, 'Fruits')
(2, 'Colors')
(3, 'Games')
(4, 'Vehicles')

In [ ]:
r_set=my_conn.execute('''SELECT * FROM subcategory''');
for row in r_set:
  print(row)

(1, 'Mango')
(1, 'Banana')
(1, 'Orange')
(1, 'Apple')
(2, 'Red')
(2, 'Blue')
(2, 'Green')
(2, 'Yellow')
(3, 'Cricket')
(3, 'Football')
(3, 'Baseball')
(3, 'Tennis')
(4, 'Cars')
(4, 'Trucks')
(4, 'Bikes')
(4, 'Train')

In [ ]:
# display all records of particular class only
q="SELECT id, name, class, mark, sex FROM student WHERE class='Four'"
my_cursor=my_conn.execute(q)
for row in my_cursor:
  print(row)

(1, 'John Deo', 'Four', 75, 'female')
(4, 'Krish Star', 'Four', 60, 'female')
(5, 'John Mike', 'Four', 60, 'female')
(6, 'Alex John', 'Four', 55, 'male')
(10, 'Big John', 'Four', 55, 'female')
(31, 'Marry Toeey', 'Four', 88, 'male')

In [ ]:
my_cursor = my_conn.execute("select id, name, class, mark, sex from student where id = 8")
data_row = my_cursor.fetchone()

print(data_row)

# select 10 records only
q="SELECT id, name, class, mark, sex FROM student limit 0,10"
my_cursor=my_conn.execute(q)
data_row=my_cursor.fetchall()
print(type(data_row))
print("No of records : {}".format(len(data_row)))
for row in data_row:
  print(row)

(8, 'Asruid', 'Five', 85, 'male')
<class 'list'>
No of records : 10
(1, 'John Deo', 'Four', 75, 'female')
(2, 'Max Ruin', 'Three', 85, 'male')
(3, 'Arnold', 'Three', 55, 'male')
(4, 'Krish Star', 'Four', 60, 'female')
(5, 'John Mike', 'Four', 60, 'female')
(6, 'Alex John', 'Four', 55, 'male')
(7, 'My John Rob', 'Five', 78, 'male')
(8, 'Asruid', 'Five', 85, 'male')
(9, 'Tes Qry', 'Six', 78, 'male')
(10, 'Big John', 'Four', 55, 'female')

In [ ]:
# delete sample table student
from sqlalchemy.exc import SQLAlchemyError
try:
  my_conn.execute('''DROP table student;''')
  print("student table deleted")
except SQLAlchemyError as e:
  error = str(e._dict_['orig'])
  print(error)
  #print(e)

student table deleted

In [ ]:
# creating student table
from sqlalchemy.exc import SQLAlchemyError
try:
  my_conn.execute('''
    CREATE TABLE IF NOT EXISTS student(id integer primary key,
                                       name text,
                                       class text,
                                       mark integer,
                                       sex text
                                       );''')
  
  print("Student Table created successfully")
except SQLAlchemyError as e:
  error = str(e._dict_['orig'])
  print(error)

Student Table created successfully

In [ ]:
# add records to student table
r_set=my_conn.execute('''INSERT INTO `student`
(`id`,`name`,`class`,`mark`,`sex`) VALUES
(1, 'John Deo', 'Four', 75, 'female'),
(2, 'Max Ruin', 'Three', 85, 'male'),
(3, 'Arnold', 'Three', 55, 'male'),
(4, 'Krish Star', 'Four', 60, 'female'),
(5, 'John Mike', 'Four', 60, 'female'),
(6, 'Alex John', 'Four', 55, 'male'),
(7, 'My John Rob', 'Five', 78, 'male'),
(8, 'Asruid', 'Five', 85, 'male'),
(9, 'Tes Qry', 'Six', 78, 'male'),
(10, 'Big John', 'Four', 55, 'female'),
(11, 'Ronald', 'Six', 89, 'female'),
(27, 'Big Nose', 'Three', 81, 'female'),
(28, 'Rojj Base', 'Seven', 86, 'female'),
(29, 'Tess Played', 'Seven', 55, 'male'),
(30, 'Reppy Red', 'Six', 79, 'female'),
(31, 'Marry Toeey', 'Four', 88, 'male'),
(32, 'Binn Rott', 'Seven', 90, 'female'),
(33, 'Kenn Rein', 'Six', 96, 'female'),
(34, 'Gain Toe', 'Seven', 69, 'male'),
(35, 'Rows Noump', 'Six', 88, 'female');''')

In [ ]:
my_conn = create_engine("sqlite:///my_db2.db")
conn = my_conn.connect()

!ls

my_db2.db  my_db.db  sample_data

ERROR:sqlalchemy.pool.impl.NullPool:Exception during reset or similar
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 753, in _finalize_fairy
    fairy._reset(pool)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 1004, in _reset
    pool._dialect.do_rollback(self)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 683, in do_rollback
    dbapi_connection.rollback()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 139844791523200 and this is thread id 139844368992000.
ERROR:sqlalchemy.pool.impl.NullPool:Exception closing connection <sqlite3.Connection object at 0x7f300c51e810>
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 753, in _finalize_fairy
    fairy._reset(pool)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 1004, in _reset
    pool._dialect.do_rollback(self)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 683, in do_rollback
    dbapi_connection.rollback()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 139844791523200 and this is thread id 139844368992000.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 255, in _close_connection
    self._dialect.do_terminate(connection)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 689, in do_terminate
    self.do_close(dbapi_connection)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 692, in do_close
    dbapi_connection.close()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 139844791523200 and this is thread id 139844368992000.

In [ ]:
# delete sample table student
from sqlalchemy.exc import SQLAlchemyError
try:
  my_conn.execute('''DROP table student;''')
  print("student table deleted")
except SQLAlchemyError as e:
  error = str(e._dict_['orig'])
  print(error)
  #print(e)

AttributeError: ignored

In [ ]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/my_db.db/")

# Show the list of tables
r_set = my_conn.execute('''select name from sqlite_master where type = 'table' ''')
for row in r_set:
    print(row)

('category',)
('subcategory',)
('student',)

In [ ]:
# Open file and run script
with open("student_tables.sql", "r") as file:
    query = file.read()
    my_conn.execute(query)

# Show the list of tables
r_set = my_conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
for row in r_set:
    print(row)

FileNotFoundError: ignored